<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>
        {% block title %}

        {% endblock %}
    </title>

    {% load static %}
    {% load apptags %}
    
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static "css/expe.css" %}">
        <script src="https://kit.fontawesome.com/ee9d97bd14.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>

    <div id="main-container" class="container">
    {% block content %}
        
    {% endblock %}

    <!-- Always enabled -->
    {% csrf_token %}
    </div>

    <!-- Global scripts used -->
    <script type="text/javascript"> 

        // JS need to know if apache2 server use BASE_URL
        // add by default '/' into BASE
        const BASE     = "{{BASE}}"
        const host     = window.location.host
        var baseUrl    = location.protocol + '//' + host + '/'

        if (BASE !== '') baseUrl += BASE + '/'

        const expeUrl  = baseUrl + 'expe'  
        const indicationsUrl  = baseUrl + 'indications'  
        const presentationUrl = baseUrl + 'presentation'
        const endUrl = baseUrl + 'expe_end'

        // EXPE variables parts
        // get access to django variables
        var BEGIN_EXPE = "{{request.session.expe_started}}" === 'True'
        var END_EXPE   = "{{request.session.expe_finished}}" === 'True'

        // scene experiments data
        var scenes = "{{scenes}}"
        // get current id from session if exists
        var currentId = "{{request.session.id}}"
    </script>

    <!-- Custom Javascript file for experiments template is placed here -->
    {% block javascripts %}
        
    {% endblock %}

    <!-- Update user data stored into localStorage -->
    <script src="{% static 'js/updateData.js' %}"></script>

    <!-- Dynamically load JS file of experiments -->
    {% for file in javascript %}
        {% with 'js/'|add:file as js_static %}
            <script src="{% static js_static %}"></script>
        {% endwith %}
    {% endfor %}
</body>
