<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>
        {% block title %}

        {% endblock %}
    </title>

    {% load staticfiles %}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static "css/expe.css" %}">
        <script src="https://kit.fontawesome.com/ee9d97bd14.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>

    <div class="container">
    {% block content %}
        
    {% endblock %}
    </div>

    <!-- Global scripts used -->
    <script type="text/javascript"> 

        // add by default '/' into BASE
        const BASE     = "{{BASE}}"
        const host     = window.location.host
        var baseUrl  = location.protocol + '//' + host + '/'

        if (BASE != ''){
            baseUrl += BASE + '/'
        }

        const expeUrl  = baseUrl + 'expe'     
        console.log(expeUrl)
    </script>
    {% block javascripts %}
    
    {% endblock %}
</body>
