body {
    background-color: lightgrey;
}

.container{
    margin-top: 2%;
    text-align: center;
}

#expeImg{
    display: none;
}

#expeIndication{
    margin-top: 20%;
}


.results-expe{
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}

.results-expe a:hover{
    text-decoration: none;
}

.results-expe a{
    color:black;
}