body {
    background-color: lightgrey;
}

.container{
    margin-top: 2%;
    text-align: center;
}

#expeImg{
    display: none;
}

#expeIndication{
    margin-top: 20%;
}


.results-expe{
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}

.results-expe a:hover{
    text-decoration: none;
}

.results-expe a{
    color:black;
}

#parent-vertical {
    position: relative;
}

#child-vertical {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin-top: 35%;
}