{% extends 'base.html' %}

{% load static %}

{% block title %}
    Expe choice
{% endblock %}

{% block content %}
    <h2>Choose your experiments and dataset</h2>

    <div class="row">
        <div class="col-md-4 offset-md-4">

            <form action="/presentation" id="expeChoice">
                <div class="form-group">
                    <label for="expe" style="position:static">Select experiments:</label>
                    <select class="form-control " name="expe">
                        {% for expe in expes %}
                            <option value="{{expe}}">{{expe}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <!-- <div class="form-group" style="visibility:hidden">
                    <label for="scene">Select scene:</label>
                    <select class="form-control" name="scene">
                        {% for scene in scenes %}
                            <option value="{{scene}}">{{scene}}</option>
                        {% endfor %}
                    </select>
                </div> -->

                {% csrf_token %}

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript"> 

        var scenes = "{{scenes}}"
    </script>

    <!-- Here add check of user ID -->
    <script src="{% static "js/checkId.js" %}"></script>

{% endblock %}
