{% extends 'base.html' %}

{% load static %}

{% block title %}
    Expe {{ expe_name }}
{% endblock %}

{% block content %}
    
    <h3>{{pres_text|linebreaks}}</h3>
  
    <br/>
    <h3>Please press enter to continue</h3>
    
    <form id="form01" method="GET" action="/indications">
        <input type="hidden" name="example" value="0"/>
        <input type="hidden" name="expe" value={{ expe_name }} />
    </form>
    
    <script>
        const KEYCODE_ENTER = 13

        const checkKey = e => {
            if(e.keyCode == KEYCODE_ENTER) {
             document.forms.form01.submit();
           }
        }
        
        // implement `key` events
        document.addEventListener('keydown', checkKey)

    </script>
{% endblock %}

{% block javascripts %} 
{% endblock %}
