{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    Expe {{ expe_name }}
{% endblock %}

{% block content %}
    
    {% if request.session.expe_finished %}
        <h3>{{end_text}}</h3>

        <br />
        <p>You will be redirected in <span id="refreshTime">5</span> sec to home page</p>
    {% endif %}

    <!-- TODO : Load    img from bitmap with javascript `loadImg.js` -->
    {% if not request.session.expe_finished %}
        <img id="expeImg" src="/{{BASE_URL}}/{{img_merged_path}}" data-img="{{request.session.img_merged}}"/>
    {% endif %}

    {% block javascripts %}
        <script type="text/javascript"> 
            // get access to django variables
            var BEGIN_EXPE = "{{request.session.expe_started}}"
            var END_EXPE   = "{{request.session.expe_finished}}"
        </script>
        <script src="{% static "js/loadImg.js" %}"></script>
        <script src="{% static "js/keyEvents.js" %}"></script>
    {% endblock %}
{% endblock %}
