{% extends 'base.html' %}

{% load static %}

{% block title %}
    Expe {{ expe_name }}
{% endblock %}

{% block content %}

    <div id="parent-vertical">
        <br/>
        {% if prolific %}
            <h2> {{reward}} <span id="refreshTime">5</span></h2>
        {% else %}
           <h2> {{reward}} {{userId}}</h2>

        {% endif %}

        <br/>
        <br/>

        <div id="child-vertical">
            <h3>{{end_text|linebreaks}}</h3>
        </div>
    </div>

{% endblock %}

{% block javascripts %} 
        {% if prolific %}
            <script type="text/javascript">
                var url = "{{redirect}}";
        
                function sleep(ms) {
                    return new Promise(res => setTimeout(res, ms));
                }
        
                async function redirect(sec, r) {
                    for (let i = sec; i > 0; i--) {
                        document.getElementById('refreshTime').textContent = i;
                        await sleep(1000);      
                    }
                    window.location = r;  
                }
                redirect(10, url);
            </script>
        {% endif %}
{% endblock %}

