{% extends 'base.html' %}

{% load static %}

{% block title %}
    Expe {{ expe_name }}
{% endblock %}

{% block content %}

    <div id="parent-vertical">
        <br/>
        {% if prolific %}
            <script type="text/javascript">
                var r = "{{redirect}}";
                setTimeout(function () {
                   window.location = r; //will redirect to your blog page (an ex: blog.html)
                }, 2000);
                
            </script>
        {% else %}
           <h2>To receive your reward, please make sure to note the following identifier : {{userId}}</h2>

        {% endif %}

        <br/>
        <br/>

        <div id="child-vertical">
            <h3>{{end_text|linebreaks}}</h3>
        </div>
    </div>

{% endblock %}

{% block javascripts %} 
{% endblock %}

