{% extends 'base.html' %}

{% load static %}

{% block title %}
    Expe {{ expe_name }}
{% endblock %}

{% block content %}
    
    <h3>{{question}}</h3>
    <br />
    <h5>{{indication}}</h5>

    {% if start %}
        <br />
        <br />

        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form method="GET" action="/expe">
                    <div class="form-group">
                        <input type="hidden" name="scene" value="{{scene_name}}"/>
                        <input type="hidden" name="expe" value="{{expe_name}}"/>
                        <input type="hidden" name="iteration" value="0"/>

                        <label for="experimentId">Select experiment identifier:</label>
                        <input type="text" class="form-control" name="experimentId" placeholder="Enter your experiment identifier"/>
                    </div>
                </form>
            </div>
        </div>

        <p id="expeIndication"><strong>Press enter to begin experiments</strong></p>
    {% else %}
        <input type="hidden" name="scene_name" value="{{scene_name}}"/>
        <br/>
        <h5>{{example_sentence|linebreaks}}</h5>
        <img src="{{example}}" />
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="{% static "js/indications.js" %}"></script>
{% endblock %}
